@{
  Layout = "_Layout";
}

<div class="container">

<h1>Add a new city</h1>

<form action="/cities" method="post">
  <label for="cityName">Name of city</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/cities">Back to cities</a></p>

</div>